<div class="container actualizarExp">
    <div>
        <label for="AgregarexpI">Id de la Empresa</label>
        <input formControlName="ExpI" type="ExpI" id="AgregarexpI" class="form-control" required/>
    </div>
    <div>
        <label for="AgregarexpN">Nombre Empresa</label>
        <input formControlName="ExpN" type="ExpN" id="AgregarexpN" class="form-control" />
    </div>
    <div>
        <label for="fechaInicio">Fecha de Inicio</label>
        <input formControlName="fechai" type="fechai" id="fechaInicio" class="form-control"/>
    </div>
    <div>
        <label for="fechaFin">Fecha de Fin</label>
        <input formControlName="fechaf" type="fechaf" id="fechaFin" class="form-control"/>
    </div>
    <div>
        <label for="descripPuesto">Descripcion Breve del Puesto</label>
        <input formControlName="descripP" type="descripP" id="descripPuesto" class="form-control"/>
    </div>
    <br>    
    <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">Actualizar</button>
</div>  


