.AgregarExp {
    margin-top:100px;
    margin-bottom: 100px;
    background: blue;  
    text-align: center;
    width: 380px;
    color:whitesmoke;
    padding-top:25px;
    padding-bottom: 25px;  
}
 div div input {
    width: 310px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 2%;
} 
