
<div class="container ediccionExp">
    <div>
        <label for="Agregarexp">Id Experiencia</label>
        <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" required/>
    </div>
    <div>
        <label for="Agregarexp">Nombre Empresa</label>
        <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" required/>
    </div>
    <div>
        <label for="fechaInicio">Fecha Inicio</label>
        <input formControlName="fechai" type="fechai" id="fechaInicio" class="form-control"required/>
    </div>
    <div>
        <label for="fechaFin">Fecha Fin</label>
        <input formControlName="fechaf" type="fechaf" id="fechaFin" class="form-control"required/>
    </div>
    <br>    
    <button type="submit" class="btn btn-none"><img src="../../../assets/agregar.png" height="30px" widht="30px" /></button>
    <button type="submit" class="btn btn-none"><img src="../../../assets/actualizar.png" height="30px" widht="30px" /></button>
    <button type="submit" class="btn btn-none"(click)="regresarPrincipal()">
      <img src="../../../assets/aceptar.png" height="30px" widht="30px" /></button>
</div>