<div class="login">
  <form (ngSubmit)="Login()">
      <div  class= "form-inline">
      <label>Ingrese usuario</label>
      <input type="email" id="usuario" name="usuario" class="form-control form-control-lg" [(ngModel)]="DatosLogin.usuario" required/>
      </div>
      <div   class= "form-inline">
      <label>Ingrese Password</label>
      <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="DatosLogin.password" required/>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-block mb-4">Ingresar</button>
  </form>
</div>  
