<div class="form-group login">
  <form [formGroup]="loginform">
      <div>
      <label class="form-label" for="formUsuario">Ingrese usuario</label>
      <input  
             type="usuario" id="formUsuario" class="form-control" placeholder="usuario"/>
      </div>
      <div>
      <label class="form-label" for="formpassword">Ingrese Password</label>
      <input formControlName="password"
      type="password" id="formpassword" class="form-control" placeholder="password"/>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-block mb-4"(click)="volverPrincipal()">Ingresar</button>
  </form>
</div>  
