><div class="container actualizarproy">
       <div>
        <label for="ActualizarProyI">Id del Proyecto</label>
        <input formControlName="proyI" type="proyI" id="ActualizarProyI" class="form-control" required/>
        </div>
        <div>
        <label for="ActualizarProyT">Tipo de Proyecto</label>
        <input formControlName="proyT" type="proyT" id="ActualizarProyT" class="form-control" />
        </div>
        <div>
        <label for="descripProy">Descripcion Breve del Proyecto</label>
        <input formControlName="proyD" type="proyD" id="descripProy" class="form-control"/>
        </div>
        <br>    
        <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">Actualizar</button>
</div>  
        