><div class="container agregarproy">
    <div>
     <label for="AgregarProy">Tipo de Proyecto</label>
     <input formControlName="proyA" type="proyA" id="AgregarProy" class="form-control" required/>
     </div>
     <div>
     <label for="proyectoD">Descripcion Breve del Proyecto</label>
     <input formControlName="proyD" type="proyD" id="proyectoD" class="form-control" required/>
     </div>
     <br>    
     <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">agregar</button>
</div> 
