
<div class="agregarProy container">
        <form>
            <div class="formg-group">
            <label class="form-label" for="AgregarProy">Tipo de Proyecto</label>
            <input formControlName="IdProy" type="IdProy" id="AgregarProy" class="form-control" />
            </div>
            <br>
            <div class="form-group">
            <label class="form-label" for="agregarDescrip">descripcion Breve del proyecto</label>
            <input formControlName="descripProy" type="descripProy" id="agregarDescrip" class="form-control"/>
            </div>
            <br>   
            <button type="submit" class="btn btn-success btn-block lg-4">agregar</button>
       </form>
    </div>
