<div class="container ediccionproy">
    <div>
        <label for="proy">Id Proyecto</label>
        <input formControlName="proyI" type="proyI" id="proy" class="form-control" required/>
    </div>
    <div>
        <label for="proyT">Tipo de Proyecto</label>
        <input formControlName="proyi" type="proyi" id="proyI" class="form-control" required/>
    </div>
    <div>
        <label for="fechaInicio">Descripcion breve del Proyecto</label>
        <input formControlName="fechai" type="fechai" id="fechaInicio" class="form-control"required/>
    </div>
    <br>    
    <button type="submit" class="btn btn-none"><img src="../../../assets/agregar.png" height="30px" widht="30px" /></button>
    <button type="submit" class="btn btn-none"><img src="../../../assets/actualizar.png" height="30px" widht="30px" /></button>
    <button type="submit" class="btn btn-none"(click)="regresarPrincipal()">
      <img src="../../../assets/aceptar.png" height="30px" widht="30px" /></button>
</div>