<div class="container-fluid">
   
    <div class="row"> 
         <div class="col-1"> 
         <img src="../../../assets/user1.png" height="80px" widht="80px" style="position:absolute; left:1%; top:450px"/>
         </div>
    </div>     
    <h1>Acerca de</h1>
    <div class="row" styles="height: 100px">
            <div *ngFor="let dp of DatosPer">
                <br> 
                <h2>{{dp.nombre}} {{dp.apellido}}</h2>
                <h2>{{dp.correo_electronico}}</h2>
            </div>
            <div class="container col-9 "> <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem, 
                aliquid illo commodi, error cum accusantium voluptas. Quos veritatis natus nihil ea ipsam 
                quisquam, facere libero unde porro! Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Labore inventore voluptas officiis non quae atque iure, animi quia. At sed voluptas quas labore 
                consequatur laborum nisi expedita eius minus necessitatibus. Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Temporibus sint ipsa corporis similique ab obcaecati commodi laudantium odit perspiciatis 
                adipisci, veritatis esse, ipsam doloremque. Aliquam qui autem explicabo eaque reiciendis.</p>
            </div>
            <div class="col-2  align-content-end">       
            <button type="submit" class="btn btn-primary" *ngIf="visualizarBotones()">Boton De Edicion</button>                           
            </div>
     </div>     
</div>                                   
