.actualizarEdu {
  margin-top:100px;
  margin-bottom: 100px;
  background: blue;  
  text-align: center;
  width: 380px;
  color:whitesmoke;
  padding-top:25px;
  padding-bottom: 25px;  
}
div form div input {
  width: 310px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 2%;
} 
.btn { background: #92c7eb;
 background-image: url(../../../assets/actualizar.png);
 background-size: cover;
 background-position: center;
 display: inline-block;
 border: none;
 padding: 20px;
 width: 70px;
 border-radius: 900px;
 height: 70px;
 transition: all 0.5s;
 cursor: pointer;
}
.btn:hover
{
 width: 75px;
 height: 75px;
}
