<div class="actualizarEduc container">
    <form>
        <div class="formg-group">
            <label class="form-label" for="IdEduc">Id de la Educacion</label>
            <input formControlName="idEdu" type="idEdu" id="IdEduc" class="form-control" />
            </div>
            <br>
            <div class="formg-group">
            <label class="form-label" for="ActualizarTitulo">Titulo</label>
            <input formControlName="Edutitulo" type="Edutitulo" id="ActualizarTitulo" class="form-control" />
            </div>
            <br>
            <div class="form-group">
            <label class="form-label" for="ActualizarCondicion">Condicion</label>
            <input formControlName="Actcondicion" type="Actcondicion" id="ActualizarCondicion" class="form-control"/>
            </div>
            <br>
            <div class="form-group">
            <label class="form-label" for="ActualizarInstitucion">Institucion</label>
            <input formControlName="Actinstitucion" type="Actinstitucion" id="ActualizarInstitucion" class="form-control"/>
            </div>
            <br>
            <br>   
        <button type="submit" class="btn btn-success btn-block mb-4" >Actualizar</button>
    </form>
  </div>  
