<div class="container actualizarEdu">
    <div>
        <label for="Agregarexp">Id Educacion</label>
        <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" required/>
    </div>
    <div>
        <label for="Agregarexp">Titulo</label>
        <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" required/>
    </div>
    <div>
        <label for="fechaInicio">Condicion</label>
        <input formControlName="fechai" type="fechai" id="fechaInicio" class="form-control"required/>
    </div>
    <div>
        <label for="fechaFin">Institucion</label>
        <input formControlName="fechaf" type="fechaf" id="fechaFin" class="form-control"required/>
    </div>
    <br>    
    <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">Actualizar</button>
</div>  
