<div class="container ediccionEdu">
    <div>
        <label for="AgregarT">Titulo</label>
        <input formControlName="titulo" type="titulo" id="AgregarT" class="form-control" required/>
    </div>
    <div>
        <label for="condicion">Condicion</label>
        <input formControlName="cond" type="cond" id="condicion" class="form-control"required/>
    </div>
    <div>
        <label for="institutocion">Institucion</label>
        <input formControlName="inst" type="inst" id="institucion" class="form-control"required/>
    </div>
    <br>    
    <button type="submit" class="btn btn-none"><img src="../../../assets/actualizar.png" height="30px" widht="30px" /></button>
    <button type="submit" class="btn btn-none"(click)="regresarPrincipal()">
      <img src="../../../assets/aceptar.png" height="30px" widht="30px" /></button>
</div> 
