
<div class="container ediccionEdu">
    <form novalidate #formEdu="ngForm" >
      <div class="form-group">
        <label for="idEdu">Id Educacion</label>
        <input name="id" type="number" id="id" class="form-control" [(ngModel)]="id" required/>
      </div>
       <div class="form-group">
         <label for="titulo">Titulo</label>
         <input name="titulo" type="text" id="titulo" class="form-control" [(ngModel)]="educa.titulo"/>
       </div>
       <div class="form-group">
         <label for="condicion">Condicion</label>
         <input name="condicion" type="text" id="condicion" class="form-control"[(ngModel)]="educa.condicion"/>
       </div>
       <div class="form-group">
         <label for="institucion">institucion</label>
         <input name="institucion" type="text" id="institucion" class="form-control"[(ngModel)]="educa.institucion"/>
       </div>
       <br>    
       <button type="submit" class="btn btn-none"(click)="actualizarEdu()"><img src="../../../assets/actualizar.png" height="30px" widht="30px" /></button>
       <button type="submit" class="btn btn-none"(click)="regresarPrincipal()">
       <img src="../../../assets/aceptar.png" height="30px" widht="30px" /></button>
    </form>
 </div>
