<div class="actualizarhys container">
    <form>
        <div class="formg-group">
            <label class="form-label" for="Agregarexp">Id de Tecnologia</label>
            <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" />
            </div>
            <br>
            <div class="formg-group">
            <label class="form-label" for="Agregarexp">Nombre Tecnologia</label>
            <input formControlName="Exp" type="Exp" id="Agregarexp" class="form-control" />
            </div>
            <br>
            <div class="form-group">
            <label class="form-label" for="fechaInicio">Porsentaje Tecnologia</label>
            <input formControlName="fechai" type="fechai" id="fechaInicio" class="form-control"/>
            </div>
            <br>   
        <button type="submit" class="btn btn-success btn-block mb-4">Actualizar</button>
    </form>
</div> 
