<div class="container actualizarhys">
    <div>
        <label for="ActualizarTec">Id Tecnologia</label>
        <input formControlName="TecI" type="TecI" id="ActualizarTec" class="form-control" required/>
    </div>
    <div>
        <label for="ActualizarN">Nombre Tecnologia</label>
        <input formControlName="TeN" type="TecN" id="ActualizarN" class="form-control"/>
    </div>
    <div>
        <label for="PorcentajeTec">Porcentaje Tecnologia</label>
        <input formControlName="TecP" type="TecP" id="PorcentajeTec" class="form-control"/>
    </div>
    <br>    
    <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">Actualizar</button>
</div> 