
<div class="container agregarhys">
    <div>
        <label for="agregarN">Nombre Tecnologia</label>
        <input formControlName="ATeN" type="ATecN" id="agregarN" class="form-control" required/>
    </div>
    <div>
        <label for="agregarTec">Porcentaje Tecnologia</label>
        <input formControlName="ATecP" type="ATecP" id="agregarTec" class="form-control"required/>
    </div>
    <br>    
    <button type="submit" class="btn btn-success"(click)="regresarPrincipal()">agregar</button>
</div> 