<div class="container eliminarhys">
    <form  #formhys="ngForm">  
        <div class="form-group">
        <label for="idTec">Ingrese Id Tecnologia para Eliminar</label>
        <input name="id" type="number" id="id" class="form-control" [(ngModel)]="id"required/>
        </div>
        <br>
        <button type="submit" class="btn btn-none"(click)="eliminarTec()"><img src="../../../assets/eliminar2.png" height="30px" widht="30px"/></button>
        <button type="submit" class="btn btn-none"(click)="regresarPrincipal()">
        <img src="../../../assets/aceptar.png" height="30px" widht="30px" /></button>
    </form>
</div>