
  <div class=" container-fluid" style="margin-top:1%">
             <h1>Hard & Soft Kills</h1>
                <div class="row justify-content-end">
                  <div *ngIf="mostrarB()"  class="col-1">
                   <button type="submit" class="btn" (click)="botonEdiccion()">
                   <img src="../../../assets/ediccion.png" height="20px" widht="20px"/></button>
                  </div>
                  <div *ngIf="mostrarB()" class="col-1"> 
                   <button type="submit" class="btn" (click)="botonEliminar()">
                  <img src="../../../assets/eliminar.png" height="30px" widht="30px" /></button>
                  </div>              
                </div>
             <br>
             <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 " *ngFor="let te of tecno">
                  <circle-progress 
                  [percent]="(te.porcentaje_tecnologia)" 
                  [radius]="70" 
                  [imageSrc]="''" 
                  [title]="(te.nombre_tecnologia)"
                  [titleColor]="'greenyellow'"
                  [showTitle]="true" 
                  [showImage]="false" 
                  [imageHeight]="70" 
                  [imageWidth]="70" 
                  [showUnits]="false"
                  [showSubtitle]="false" 
                  [outerStrokeWidth]="10" 
                  [innerStrokeWidth]="8" 
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'blue'" 
                  [animation]="true" 
                  [animationDuration]="700"></circle-progress>
                  </div>
             </div>     
    </div>      
  


