<div class=" container-fluid row align-content-between" style="margin-top:1%">
    <h1>Hard & Soft Kills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" *ngFor="let te of tecno">
      <circle-progress 
         [percent]="(te.porcentaje_tecnologia)" 
         [radius]="70" 
         [imageSrc]="''" 
         [title]="(te.nombre_tecnologia)"
         [titleColor]="'greenyellow'"
         [showTitle]="true" 
         [showImage]="false" 
         [imageHeight]="70" 
         [imageWidth]="70" 
         [showUnits]="false"
         [showSubtitle]="false" 
         [outerStrokeWidth]="10" 
         [innerStrokeWidth]="8" 
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'blue'" 
         [animation]="true" 
         [animationDuration]="700"></circle-progress>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary">Agregar</button>
      <button type="submit" class="btn btn-primary">Actualizar</button>
      </div> 
  </div> 

